*{
  margin: 0;
  padding: 0;
}

.header p{
 background-color: #673AB7;
 color:#fff;
 text-transform: uppercase;
 padding: 20px;
 font-weight: 500;
 text-align: center;
 letter-spacing: 1px;
}


.footer{
  position: fixed;
  bottom: 0;
  padding: 20px;
  width: 100%;
  background:#673AB7;
}

.footer input::placeholder{
  color:#fff;
}
.footer input:focus{
  outline:none;
}
.footer input{
  font-size:17px;
  width: calc(100% - 35px);
  color: #fff;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  height: 35px;
}

.footer button{
color:#fff;
background: #673AB7;
height: 40px;
width: 40px;
border-radius: 50%;
position: absolute;
top: -19px;
right: 50px;
border: none;
box-shadow: 1px 2px 5px;
font-size: 25px;
cursor:pointer;
transform: rotate(90deg);
}

#updateData{
  display: none;
}

.footer button:focus{
  outline: none;
}

.todoItem ul{padding:15px; margin-bottom: 60px;}
.todoItem ul li span:first-child{
  color:#F44336;
  float: right;
  font-size: 18px;
  cursor:pointer;
  font-weight: 500;
}

.todoItem ul li span:nth-child(2)
{
 
    float: right;
    margin-top:3px;
    margin-right: 10px;
    font-size: 15px;
    cursor:pointer;
    color:green;
    font-weight: 500;
   
}

.todoItem ul li{
  list-style: none;
  background: #e3e1e1;
  margin-bottom: 10px;
  padding: 10px 10px 12px 10px;
  color: #5f6060;
  font-size: 20px;
  word-wrap: break-word;
}